.welcome_header {
  font-family: "Aclonica", sans-serif;
  text-align: center;
  color: black;
}

.welcome_header_span {
  font-family: "Aclonica", sans-serif;
  color: black;
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.not_logged_in {
  color: white;
  text-align: center;
}

.main_container {
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

.functions_header {
  font-family: "Lato", sans-serif;
  color: white;
}
.table {
  font-family: "Lato", sans-serif;
  color: var(--primaryGray900);
  font-weight: 900;
  background-color: var(--primaryGray500);
  padding: 1rem;
  border: 0.5rem solid white;
  border-radius: 0.5rem;
}

.table_row {
  display: flex;
  justify-content: space-between;
}

.table_data {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  justify-content: center;
  margin-right: 0.5rem;
}

.main {
  min-height: 60vh;
  background-color: black;
}

.messages_div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
}

.message_center_header {
  font-size: 1.75rem;
  color: white;
  margin-top: 0;
  padding-top: 2rem;
  padding-left: 1rem;
}

.messages_table {
  border-collapse: collapse;
}

.message_table_row:nth-child(even) {
  background-color: var(--primaryGray900);
}

.table_col_header {
  color: white;
  border: solid white 2px;
  background-color: var(--primaryGray900);
  padding: 0.5rem;
}

.message_date, .message_name, .message_text {
  font-size: 1rem;
  color: var(--primaryGray500);
  padding: 0.5rem;
  vertical-align: top;
  border: solid white 2px;
}

.message_date {
  width: 6rem;
}

.message_name {
  width: 8rem;
}

.message_delete_icon {
  color: white;
  border: solid white 2px;
  text-align: center;
}