.welcome_header {
  font-family: "Aclonica", sans-serif;
  text-align: center;
  color: black;
}

.welcome_header_span {
  font-family: "Aclonica", sans-serif;
  color: black;
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.not_logged_in {
  color: white;
  text-align: center;
}

.top_container {
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: black;
}

.functions_container,
.users_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.users_container {
  padding: 0 2rem;
}

.functions_header {
  font-family: "Lato", sans-serif;
  color: white;
}

.warning_wrapper {
 text-align: center;
 color: var(--primaryRed500);
 font-weight: 900;
 letter-spacing: 0.1rem;
}

.table {
  font-family: "Lato", sans-serif;
  color: var(--primaryGray900);
  font-weight: 900;
  background-color: var(--primaryGray500);
  padding: 1rem;
  border: 0.5rem solid white;
  border-radius: 0.5rem;
}

.table_row {
  display: flex;
  justify-content: space-between;
}

.table_data {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  justify-content: center;
  margin-right: 0.5rem;
}

.main {
  min-height: 60vh;
  background-color: black;
}

.messages_div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
}

.message_center_header {
  position: relative;
  font-size: 1.75rem;
  color: white;
  margin-top: 0;
  padding-top: 2rem;
  padding-left: 1rem;
}

.notification_icon {
  position: relative;
  font-size: 1.5rem;
  margin-right: 0.5rem;
  color: white;
  animation: ring 1s 5;
}

.message_count_dot {
  position: absolute;
  top: -0.5rem;
  right: -0.1rem;
  background-color: var(--primaryRed500);
  color: white;
  font-size: 0.6rem;
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.messages_table {
  border-collapse: collapse;
}

.message_table_row:nth-child(even) {
  background-color: var(--primaryGray900);
}

.table_col_header {
  color: white;
  border: solid white 2px;
  background-color: var(--primaryGray900);
  padding: 0.5rem;
}

.message_date,
.message_name,
.message_text {
  font-size: 1rem;
  color: white;
  font-weight: 300;
  padding: 0.5rem;
  vertical-align: top;
  border: solid white 2px;
}

.message_date {
  width: 6rem;
}

.message_name {
  width: 8rem;
}

.message_delete_icon_cell {
  color: white;
  border: 2px solid white;
  text-align: center;
}

.message_delete_icon {
  color: white;

  text-align: center;
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 767px) {
  .top_container {
    flex-direction: column;
    align-items: center;
  }
  .users_container {
    padding: 0;
  }
}
