.card {
  border: 7px solid var(--primaryRed500);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 96%;
  margin-bottom: 2.25rem;
  transition: all 0.3s ease;
  min-width: 50%;
  max-width: 95vw;
}

.card:hover {
  box-shadow: 3px 3px 8px white;
  transform: scale(1.01);
}

.card_inner_wrapper {
  display: flex;
  flex-grow: 1;
  width: 100%;
  background-color: transparent;
}

.card_header {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: var(--primaryRed500);
}

.banner_image {
  display: flex;
  width: 50%;
  padding: 1rem;
  background-color: black;
  justify-content: center;
}

.fundraiser_title {
  font-size: 2rem;
  font-family: "Aclonica", sans-serif;
  background: -webkit-linear-gradient(#c5bfbf, #6f6767);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100%;
  text-transform: capitalize;
  letter-spacing: 0.06rem;
  font-weight: 900;
  padding: 0 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card_main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.fundraiser_details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
}

.fundraiser_detail {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  margin: 0.75rem 0;
  font-size: 1rem;
  color: white;
  letter-spacing: 0.1rem;
  line-height: 1.75;
  padding: 0 1.5rem;
}

.link {
  z-index: 1;
  text-decoration: none;
  margin: 1rem;
  width: 30vw;
}

.donate_button_div {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  background-color: black;
  width: 100%;
}

.card_footer {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0;
  width: 100%;
  background-color: var(--primaryRed500);
}

.footer_icon {
  margin-right: 0.25rem;
}

.icon_button_div {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  margin: 0 1rem;
}

@media (max-width: 1024px) {
  .card {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1.2rem;
    flex-direction: column;
  }
  .card_inner_wrapper {
    flex-direction: column;
    align-items: center;
  }
  .banner_image {
    padding: 1rem 0;
    background-color: black;
    padding: 0.75rem;
    width: 95%;
  }
  .fundraiser_title {
    background: -webkit-linear-gradient(#c1baba, #535252);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100%;
  }
  .fundraiser_details {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .card {
    margin-left: 0;
    margin-right: 0;
  }
  .fundraiser_title {
    font-size: 1.5rem;
  }
  .banner_image {
    width: 93%;
    padding: 0.5rem;
  }
  .fundraiser_detail {
    font-size: 1rem;
  }
}

@media (max-width: 300px) {
  .banner_image {
    width: 93%;
  }
  .fundraiser_title {
    font-size: 1.5rem;
  }
  .fundraiser_detail {
    font-size: 0.75rem;
  }
}
