.header_container {
  background-color: var(--primaryRed500);
}

.header {
  font-family: "Aclonica", sans-serif;
  letter-spacing: 1rem;
  margin: 0;
  padding: 1rem;
  font-size: 7em;
  background: -webkit-linear-gradient(#eee, #333);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.page_heading {
  font-size: 1.75rem;
  color: var(--primaryGray900);
  text-align: center;
  margin: 0;
  padding: 0;
  padding-bottom: 1rem;
}

@media (min-width: 768px) and (max-width: 1024px) {

  .swords {
    display: none;
  }
}

@media (max-width: 767px) {
  .header {
    padding-bottom: 0.75rem;
    font-size: 4rem;
  }
  .swords {
    display: none;
  }
  
}