.header_container {
  background-color: var(--primary500);
}

.header {
  margin: 0;
  padding: 1rem;
  font-size: 3em;
  color: white;
  text-align: center;
}

.page_heading {
  font-size: 1.75rem;
  color: var(--primary300);
  text-align: center;
  margin: 0;
  padding: 0;
  padding-bottom: 1rem;
}
