.about_container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: black;
  padding-top: 3rem;
  margin-top: -3px;
}

.slider_div {
  max-height: 380px;
}

.image_class_div {
  position: relative;
  display: flex;
  width: 90%;
  justify-content: center;
  background-color: var(--primaryRed500);
}

.image_class {
  width: 90vw;
}

.about_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin-top: 1rem;
}

.about_item:nth-child(1) {
  border-left-width: 10px;
}

.about_item:nth-child(2) {
  border-right-width: 10px;
}
.about_title {
  font-family: "Aclonica", sans-serif;
  font-size: 1.25rem;
  font-weight: 900;
  font-style: italic;
  margin: 0;
  padding: 0.5rem;
  text-align: center;
  width: 90%;
  background-color: var(--primaryRed500);
  color: white;
}

.about_p {
  margin-top: 0;
  font-size: 1.05rem;
  padding: 1rem 2rem;
  line-height: 1.75;
  color: white;
}

.main {
  background-color: black;
}

.link {
  font-family: "Aclonica";
  color: steelblue;
}

.member_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.member_summary {
  margin-top: 1rem;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  width: 95%;
  align-items: center;
  margin-right: 20px; /* Adjust margin as needed */
}

.member_img {
  border-radius: 10px;
  padding: 10px;
}

.member_name_heading {
  font-family: "Aclonica", sans-serif;
  color: var(--primaryGray300);
  font-size: 1.75rem;
  text-align: center;
  margin: 0.75rem auto;
}

.member_job_title {
  color: white;
  font-size: 1.25rem;
  text-align: center;
  margin: 0.75rem auto;
}

.member_details {
  flex: 1; /* Allow it to expand and take remaining space */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  line-height: 1.5;
  padding: 1rem 2rem;
  font-size: 1.05rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .main {
    min-height: 0;
  }

  .class_image {
    min-width: 60%;
  }

  .about_container {
    flex-direction: column;
    margin-top: -10px;
  }

  .member_info {
    flex-direction: column;
  }

  .member_summary {
    margin: auto;
    margin-top: 1rem;
  }
}

@media (max-width: 767px) {
  .main {
    min-height: 0;
  }

  .about_container {
    margin-top: -10px;
  }

  .about_p {
    padding: 1rem 1.25rem;
  }

  .class_image {
    min-width: 85vw; /* Set the width to 90% for smaller screens (phones) */
    height: auto; /* Maintain aspect ratio */
    margin: 1rem auto; /* Adjust margin as needed */
  }

  .member_info {
    flex-direction: column;
    align-items: center;
  }

  .member_details {
    padding: 1rem 1.25rem;
  }
}


@media (max-width: 300px) {
  .about_container {
    padding-top: 0.5rem;
  }

  .slider_div {
    display: none;
  }

  .about_p {
    font-size: 0.85rem;
  }

  .member_name_heading {
    font-size: 1.25rem;
  }

  .member_details {
    padding: 0;
    font-size: 0.85rem;
    flex: 2;
    max-width: 95vw;
  }
}