.main {
  padding: 1rem;
  text-align: center;
  font-family: "Lato", sans-serif;
  color: seagreen;
  font-weight: 300;
  background-color: black;
  
}

.fundraisers_div {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0.5rem;
}
