@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Kanit:wght@400;700;900&family=Lato:wght@300;400;700;900&display=swap");


:root {
  --primary300: lightsteelblue;
  --primary500: steelblue;
  --primaryRed500: #a1051d;
  --primaryGold500: #FFD700;
  --primaryGreen500: #4CAF50;
  --primaryGray300: lightgray;
  --primaryGray500: #6c757d;
  --primaryGray900: rgb(39, 36, 36);
  --linear-gradient-red: linear-gradient(135deg, #F5515F 0%, #a1051d 100%);
  --linear-gradient-silver: linear-gradient(135deg, #eee 0%, #333 100%);
  --linear-gradient-silver300: linear-gradient(135deg, #eee 0%, #685f5f 100%);
  background-color: var(--primaryRed500);
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}


@media (max-width: 1024px) {
  .slick-slider {
    height: 325px;
    margin-bottom: 35px;
  }
}
