.main {
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  background-color: black;
  text-align: center;
  width: 100%;
  min-height: 700px; /* Set the height of the container */
  background-image: url("../public/images/kendo.png"); /* Replace 'path_to_your_image.jpg' with your image path */
  background-size: cover;
  background-position: center;
}

/* CSS for the colored filter */
.main::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: yellow; /* Change color as needed */
  mix-blend-mode: multiply;
  opacity: 0.7; /* Adjust opacity */
  background-color: rgba(0, 0, 0, 1); /* Change color and opacity here */
  /* Adjust the color and opacity by changing the rgba values */
}

.logo_container {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 200px;
  display: flex;
  justify-content: center;
}

.logo {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.main_heading {
  position: relative;
  font-size: 2rem;
  color: white;
  z-index: 999;
  margin-top: 0;
  margin-bottom: 1rem;
}

.main_p {
  position: relative;
  font-size: 1rem;
  color: var(--primaryGray300);
  z-index: 999;
  margin-top: 0;
}

.main_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.box {
  flex: 1;
  min-height: 300px;
  min-width: 300px;
  max-width: 500px;
  margin: 1rem;
  padding: 1rem;
  border: 2px solid var(--primaryGray900);
  background-color: rgba(36, 37, 36, 0.4);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: 0.3s ease;
}

.box:hover {
  transform: scale(1.1) translateY(-3px);
  box-shadow: 3px 2px 8px var(--primaryRed500);
}

.box_header {
  font-family: "Aclonica", sans-serif;
  font-size: 1.5rem;
  color: var(--primaryGray300);
  margin-bottom: 0.5rem;
  font-style: italic;
}

.box_p, .box_p_support {
  color: var(--primaryGray500);
  font-size: 1rem;
  font-weight: 700;
  text-wrap: wrap;
  line-height: 1.75;
  letter-spacing: 0.1rem;
}

.box_p_support {
 animation: stretch 5s ease-in-out infinite;
}

@keyframes stretch {
  0% {
    letter-spacing: 0; /* Initial letter-spacing */
  }
  50% {
    letter-spacing: 0.15rem; /* Maximum letter-spacing */
  }
  100% {
    letter-spacing: 0; /* Reverting back to normal */
  }
}

.donate_button_div {
  text-align: center;
}

