.main {
  background-color: var(--primary500);
  text-align: center;
}

.header {
  font-size: 3em;
  color: white;
  text-align: center;
}

.logo_container {
  display: flex;
  justify-content: center;
}

.logo {
  border-radius: 50%;
  margin-bottom: 2rem;
}