/* Modal Styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.95;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal_content {
  min-width: 75vw;
  overflow-y: auto; /* Enable scrolling if form content exceeds container height */
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal_header {
  font-size: 1.75rem;
  padding: 0.5rem;
  color: white;
  background-color: var(--primaryGray900);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 3rem;
}

.buttonPosition {
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 10%;
  background-color: var(--primaryRed500);
  color: white;
  border: none;
}

.form {
    padding: 2rem;
    background-color: var(--primaryRed500);
}

.modal_footer {
  padding: 0.5rem;
  background-color: var(--primaryGray900);
  text-align: center;
}

@media only screen and (max-width: 767px) {

  .modal_content {
    width: 95%;
   
  }
}